*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

display:flex;
justify-content:center;
align-items:center;
height:100vh;

background:linear-gradient(135deg,#2563eb,#9333ea);

}

.container{

background:white;

padding:40px;

border-radius:20px;

width:400px;

text-align:center;

box-shadow:0 15px 30px rgba(0,0,0,.2);

}

h1{

margin-bottom:30px;

color:#2563eb;

}

input,
select{

width:100%;

padding:15px;

margin-bottom:20px;

border:1px solid #ccc;

border-radius:10px;

font-size:18px;

}

button{

width:100%;

padding:15px;

background:#2563eb;

color:white;

border:none;

border-radius:10px;

font-size:18px;

cursor:pointer;

transition:.3s;

}

button:hover{

background:#1d4ed8;

}

#result{

margin-top:25px;

font-size:22px;

font-weight:bold;

color:#111827;

}